.alerta {
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    padding: .5rem;
    margin: 1rem 0;


    &.error {
        background-color: $rojo;
        
    }

    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 3rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: $verde;
        
        th {
            color: $blanco;
            padding: 1rem;
        }
    }

    tbody {
        td {
            text-align: center;
        }
    }

    .imagen-tabla {
        width: 10rem;
    }
}

.imagen-small {
    width: 30rem;
    margin-bottom: 2rem;
}